.cartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cartItem {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
}

.cartImage {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.itemDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.titleAndPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 10px;
}

.cartTitle {
    font-size: 18px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cartPrice {
    font-size: 16px;
    font-weight: bold;
}

.itemTxt {
    display: flex;
    align-items: flex-start;
}

.quantityContainer {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.quantityBtn {
    width: 30px;
    height: 30px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 15px;
}

.removeBtn {
    color: red;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

.removeBtn:hover {
    font-weight: 900;
}

.cartBtns {
    display: flex;
}

.total {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    text-align: right;
}


@media (max-width: 768px) {
    .cartItem {
        flex-direction: column;
    }

    .cartImage {
        margin-bottom: 10px;
    }

    .cartBtns {
        margin-top: 10px;
    }
}