    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 20px;
        /* box-shadow: rgb(229, 229, 229) 0px -1px 0px 0px inset; */
        background-color: rgba(200, 200, 200, 0.2);
        border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    }

    .dancingScript {
        color: #001E38;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 30px;
        padding: 20px;
    }



    .txt {
        text-decoration: none;
        color: #001E38;
        font-family: 'Fjalla One', sans-serif;
        letter-spacing: 4px;
        font-weight: bold;
    }

    .txt:hover {
        color: #A3BFD7;
        box-shadow: 0 2px 0 0 #B6A457;
    }