.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("/clothing.jpg");
    background-size: cover;
}

.shopBtn {
    background-color: #A3BFD7;
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: bold;
}

.shopBtn:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #A3BFD7;
}