.shopContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(248px, 1fr));
    gap: 24px;
    padding: 48px 96px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
}

.imageContainer {
    position: relative;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    margin-top: auto;
}

.imgCard {
    width: 100%;
}

.itemName {
    font-size: 1rem;
}

.addToCartBtn {
    display: block;
    width: 100%;
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
}

.addToCartBtn:hover {
    opacity: 50%;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
    .shopContainer {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }

    .card {
        width: 250px;
    }
}

@media (max-width: 768px) {
    .shopContainer {
        grid-template-columns: repeat(1, 1fr);
        padding: none;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .shopContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 5px;
    }

    .card {
        width: 100%;
    }
}