.shopContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 100vh;
}

.card {
    box-sizing: border-box;
    width: 500px;
    margin-top: 25px;
    margin-left: 50px;
    padding-bottom: 20px;
}

.card>h2 {
    margin: 2px;
}

.card>p {
    margin: 2px;
}


.btn {
    background-color: #A3BFD7;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.1em;
    border-radius: 20px;
}

.btn:hover {
    background-color: white;
    box-shadow: 2px 2px 2px 2px #A3BFD7;
}

@media (max-width: 768px) {
    .shopContainer {
        display: flex;
        flex-direction: column;
    }

    .imgCard {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .imgCard {
        width: 80%;
    }
}