    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid darkgrey;
        padding-inline: 20px;
    }

    .title {
        color: white;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 50px;
        padding: 20px;
    }

    .shoppingCart {
        background-color: transparent;
        border: none;
    }

    .shoppingCart:hover {
        cursor: pointer;
    }

    .cartImage {
        filter: invert(100%);
    }

    .cartImage:hover {
        filter: none;
    }

    .txt {
        text-decoration: none;
        color: rgba(200, 200, 250);
        font-family: 'Fjalla One', sans-serif;
        letter-spacing: 4px;
    }

    .txt:hover {
        color: white;
        text-decoration: underline;
    }