    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-inline: 20px;
        box-shadow: 0 1px 0 0 #001E38;
    }

    .dancingScript {
        color: #001E38;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 30px;
        padding: 20px;
    }



    .txt {
        text-decoration: none;
        color: #001E38;
        font-family: 'Fjalla One', sans-serif;
        letter-spacing: 4px;
        font-weight: bold;
    }

    .txt:hover {
        color: white;
        box-shadow: 0 2px 0 0 #B6A457;
    }